# dependencies
**/node_modules
/.pnp
.pnp.js
.next

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jetbrains IDE
/.idea
/.vscode
**/package-lock.json
server/node_modules/@szmarczak/http-timer/LICENSE
server/node_modules/@szmarczak/http-timer/package.json
server/node_modules/@szmarczak/http-timer/README.md
server/node_modules/@szmarczak/http-timer/source/index.js
server/node_modules/fsevents/fsevents.node
server/node_modules/is-ci/bin.js
server/node_modules/make-dir/node_modules/semver/bin/semver.js
server/node_modules/mime/cli.js
server/node_modules/mime/src/build.js
server/node_modules/nodemon/bin/nodemon.js
server/node_modules/nodemon/bin/postinstall.js
server/node_modules/nopt/bin/nopt.js
server/node_modules/nopt/examples/my-program.js
server/node_modules/package-json/node_modules/semver/bin/semver.js
server/node_modules/rc/cli.js
server/node_modules/rc/index.js
server/node_modules/semver-diff/node_modules/semver/bin/semver.js
server/node_modules/semver/bin/semver
server/node_modules/touch/bin/nodetouch.js
server/node_modules/update-notifier/node_modules/semver/bin/semver.js
server/node_modules/wrap-ansi/index.js
