.widget {
	position: relative;
	padding: 20px;
	border-radius: 25px;
	border: 1px solid #051415;
	background-color: rgba(3, 19, 27, 68%);
	-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	
}

.widget2 {
	position: relative;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #104f5b47;
	background-image: -webkit-linear-gradient(0deg, rgb(0 32 41 / 82%) 0%, rgb(1 40 60 / 76%) 100%);
	-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}

.widgetMsg {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #104f5b47;
	background-image: -webkit-linear-gradient(90deg,#006b71fc 0%, #0dbcbd 100%);
	color: #002738;
	font-size: 1.4em;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}

.cAddress{
	background-color: #011b1f94;
	padding: 4px 10px 4px 1em;
	width: 100%;
	margin-top: 10px;
	border: 1px solid #006a7b87;
}

.cAddress i {
	margin-left: 5px;
}

html {
	min-height: 100%; 
}

body {
	color: white;
	height: 100%;
	font-size: 0.875rem;
	background-color: #030a0d;
	overflow-x: hidden;
	overflow-y: auto;
	letter-spacing: 0.0312rem;
	font-family: 'Open Sans' !important; 
	background-size: 0.6em 0.6em;
	max-width: 1600px;
	margin: 0 auto; 
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.clear {
	clear: both;
}

#footer {
	border-top: 1px solid;
	border-color: rgba(47, 117, 114, 0.562);
	margin-top: 20px;
	padding: 15px 5px;
}

#footer_social_links_container {
	float: right;
}

#copyright_links {
	float: left;
	margin-top: 5px;
}

.footer-image {
	width: 25%;
	margin-right: 15px;
	max-width: 31.5px;
}

#footer_social_last {
	margin-right: 0px;
}

#disclaimer_text {
	text-align: justify;
	margin-top: 15px;
	font-size: .6rem;
}

/* 
=====================
	Navigation Bar
=====================
*/
.logoNav1{
	width: 250px;
}

.nav-link{
	color: white !important;
	margin-right: 30px;
	font-size: 1.1em;
}
  
.bg-dark{
	background-color: transparent !important;
	margin-left: 2%;
	margin-right: 2%;
}

.appicon{
	width: 20px;
	margin-right: 10px;
}

.papericon{
	width: 15px;
	margin-right: 10px;
}
/* 
=====================
	END Navigation Bar
=====================
*/

/* 
=====================
	dApp
=====================
*/
.dApp,
.certikAudtitBtn {
	text-decoration: none;
	color: #29CBC1 !important;
	font-weight: 800;
	background: #0B3131 !important;
	padding: 10px 20px !important;
	border-radius: 30px;
	box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
}

.dApp2 {
	text-decoration: none;
	color: #29CBC1 !important;
	font-weight: 800;
	background: transparent !important;
	padding: 10px 20px !important;
	border-radius: 30px;
	border-color: white ;
	box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
	font-size: .8rem !important;
}

.dApp3 {
	text-decoration: none;
	color: #29CBC1 !important;
	font-weight: 800;
	background: #0B3131 !important;
	padding: 10px 20px !important;
	border-radius: 30px;
	box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
	font-size: .8rem !important;
}

.dApp a,
.dApp2 a,
.dApp3 a {
	text-decoration: none;
	color: #29CBC1
}

.herospan{
	color: #24b4ab;
}

/* 
=====================
	END dApp
=====================
*/

/*
===============================
	Main Page
===============================
*/
.shape{
	position: absolute;
	right: 0;
	width: 15%;
	margin-top: 5%;
}

.shape2{
	position: absolute;
	right: 100px;
	width: 15%;
	margin-top: -10%
}

.tokenChart{
	margin-top: 5%;
	padding-left: 10%;
	padding-right: 1%
}
.tokenCalc{
	margin-top: 5%;
	padding-left: 1%;
	padding-right: 10%
}
.vstatsButtons{
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
}

.tokenName{
	font-size: 1em;
	margin-left: -5px;
}

.tokenButton{
	font-size: 1rem;
	width: 140px;
	background-color: transparent !important;
	border-color: white;
	border-top: transparent !important;
	border-right: transparent !important;
	border-left: transparent !important;
}

.tokenLogo{
	width: 30%;
	margin-top: -5px;
}

#intro_container {
	text-align: center;
}

.intro{
	font-size: 3rem;
	font-weight: 800;
	margin-top: 31%;
}

#intro_disclaimer {
	font-size: .7em;
}

.spacer1{
	margin-top: 10%;
}

.spacer2{
	margin-top: 15%;
}

.spacer3{
	margin-top: 15%;
}
.spacer4{
	margin-top: 15%;
}

.spacer5{
	margin-top: 15%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2464.44 964.22'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2{fill:%2329cbc1;}.cls-1{isolation:isolate;opacity:0.05;}%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M210.14,17.78H2288.46c103.3,0,187,82,187,183.11v598c0,101.14-83.74,183.12-187,183.12H210.14c-103.3,0-187-82-187-183.12v-598C23.1,99.76,106.84,17.78,210.14,17.78Z' transform='translate(-17.56 -17.78)'/%3E%3Cpath class='cls-2' d='M2470.44,763.82a6.59,6.59,0,0,0,9.14.94,6.28,6.28,0,0,0,1-9,6.61,6.61,0,0,0-9.15-.94A6.28,6.28,0,0,0,2470.44,763.82Z' transform='translate(-17.56 -17.78)'/%3E%3Cpath class='cls-2' d='M19,631a6.61,6.61,0,0,0,9.16,1,6.28,6.28,0,0,0,1-9,6.6,6.6,0,0,0-9.15-1A6.29,6.29,0,0,0,19,631Z' transform='translate(-17.56 -17.78)'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.spacervs{
	margin-top: 15%;
}

.cta{
	margin-top: -15%;
	padding-left: 15%;
	padding-right: 15%;
}

.fees{
	font-size: 1.8rem;
	font-weight: 800;
}

.feeBtns{
	margin-top: 3%;
}

.heroImage{
	padding-right: 5%;
}

.atomImg{
	width: 60%;
}


.dropdown-menu{
	background-color: #030a0d !important;
}

.dropdown-item {
	color: #fff;
}

.nav-image{
	width: 25%;
	margin-right: 15px;
	max-width: 31.5px;
}

.dropdown-divider{
	color: white !important;
}

#cta_fees_container {
	padding: 30px 0px;
}

.app1 {
	text-align: start;
	font-size: 3.2rem;
	font-weight: 800;
	padding-left: 3%;
	margin-top: 2%;
	width: 50%;
}

.app1_image {
	width: 50%;
}

.app1_right {
	padding-right: 3%;
}

.btnDApp,
.certikAudtitBtn {
	border: transparent;
}

.certikAudtitBtn a {
	color:#29CBC1;
	text-decoration: none;
}
.certikAudtitBtn {
	margin-right: 10px;
}
.btnDApp2{
	border: transparent;
	margin-right: 5%;
}

.hiw{
	font-size: 2rem;
	font-weight: 800;
}

.heroh6{
	color: #24b4ab;
	font-size: 1rem;
	margin: 0;
	margin-bottom: 15px;
}

.heroH1{
	font-size: 3rem;
	text-align: start;
	font-weight: 800;
}

.heroh6_right{
	text-align: end;
}

.heroH1_right {
	text-align: end;
}

.tokens {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%
}

.spacerToken {
	margin-top: 3%;
	margin-bottom:5%;
}

.dot {
	width: 5%;
	margin-top: -.5%;
}

.tokenList{
	padding: 30px 20px;
	margin: 5%;
}

.tokenList2 {
	padding: 30px 20px;
}

.statTxt {
	font-size: 1.2rem;
	margin-left: 15px;
}

.tokenStats {
	margin-top: 5%;
}

#token_balance_checker_error_container {
	border-radius: 10px;
	max-height: 0px;
	overflow: hidden;
}

#token_balance_checker_error_container.show {
	max-height: 500px;
}

#token_balance_checker_error_message {
	color: #000000;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #ffa2aa;
    background: #fae8e8;
}

#token_balance_container.show {
	padding: 5%;
}

#balance_check_button_spinner.hide,
#check_balance_button_text.hide {
	display: none;
}

.capture_token_balance_input {
	width: 100%;
    background: #0B3131 !important;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
}

#capture_token_balance_button {
	text-align: center;
	display: inline-block;
	text-decoration: none;
    color: #29CBC1;
    font-weight: 800;
    background: #0B3131;
	width: 105px;
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 30px;
    box-shadow: rgb(0 195 255 / 16%) 0px 0px 20px 0px;
	cursor: pointer;
}

#token_balance_display_container {
	margin-top: 25px;
}

.token_balance_token {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 5px;
}

.token_balance_header {
	text-align: center;
	color: #ffffff;
	background-color: #0B2F30;
    border-radius: 25px;
	padding: 5px;
    margin-bottom: 2%;
}
.token_balance_amount {
	text-align: center;
}
/*
===============================
	End Main Page
===============================
*/

/*
===============================
	Surge Education
===============================
*/
.accordion{
	margin-left: 5%;
	margin-right: 5%;
}

.accordion-flush .accordion-item .accordion-button{
	background-color: #030a0d;
	color: #fff;
}

.accordion-item{
	border-bottom: 1px solid rgba(255,255,225);
	background-color: transparent;
}

.accordion-button::after {	
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.tokenSelect{
	background-color: transparent;
	color: #fff;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


.farmSelect{
	background-color: transparent;
	color: #fff;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.tokenSelect option{
	background-color: rgba(3, 19, 27, 100%);
}

.farmSelect option{
	background-color: rgba(3, 19, 27, 100%);
}

.edLogo{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.edStep{
	width: 50%;
}

.edImg{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.edImg2{
	width: 85%;
}

.edImg3{
	width: 35%;
}

.edImg4{
	width: 50%;
}

.edImg5{
	width: 85%;
}

.edTitle{
	text-align: center;
	width: 50%;
}
.edText{
	font-size: 1rem;
	text-align: justify;
}

.edH4{
	margin-top: 3%;
}

.edToken, .edToken2{
	padding-left: 5%;
	margin-bottom: 1%;
}

.edToken2 {
	margin-top: 3%;
}

.assets{
	padding-top: 5%;
	padding-bottom: 5%;
}

.assetsLeftPanel{
	padding-left:5%;
}

.assetsRightPanel{
	padding-right: 5%;
}

.token {
	border-radius: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(10,47,48, 0.6) !important;
	padding: 15px !important;
	font-size: 1rem;
	
}

.tokenLogo{
	width: 50%;
}

.tokenImg{
	width: 5%;
}

.tokenTable{
	color: white;
	margin-bottom: 0;
}

.tokenName{
	padding-top: 20px !important;
	width: 15%;
}

.tokenAddress{
	padding-top: 20px !important;
	font-size: 1rem;
	text-align: end;
	width: 37%;
}

.tokenPrice{
	padding-top: 20px !important;
	text-align: end;
	font-size: 1rem;
	width: 20%;
}

.tokenHolders{
	padding-top: 14px !important;
	text-align: end;
	font-size: 1rem;
	width: 13%;
}

.tokenMeta{
	width: 5%;
}

.tokenBSC{
	width:5%
}

.imgMeta{
	width: 30px;
}

.imgBSC{
	width:30px
}

.metaBtn{
	border: none;
	background: none;
}

.bscBtn{
	border: none;
	background: none;
}

.tokenData{
	padding: 10% 5% 5% 5%;
}

.statsTable{
	color: white;
}
.tokenStatsTable{
	color: white;
}
.farmStatsTable{
	color: white;
	
}

.coloredTD{
	background-color: #0B2F30 !important;
	border-radius: 25px;
	padding-left: 5% !important;
	padding-right: 5% !important;
	margin-bottom: 2%;
}
.uncoloredTD{
	padding-left: 5% !important;
	padding-right: 5% !important;
	margin-bottom: 2%;
}

.cValueSpacer{
	margin-bottom: 5%;
}

.cValueTxt{
	font-size: 1rem;
	margin-left: 1%;
}

.cAddressData{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 auto;
	max-width: 0;
}

.uLabel{
	text-align: center;
	font-size: 1.5rem;
}
.tdLabel{
	float:left;
	width:75%;
}
.tdData{
	float:right;
	width:25%;
	text-align: end;
}

.tdFeeLabel,
.tdFeeData {
	width: 100%;
	float: none;
	text-align: center;
}

.tdFee {
	width: 33%;
	padding: 0 !important;
}

.tdFeeFirst {
	padding-right: 3% !important;
}

.tdFeeLast {
	padding-left: 3% !important;
}

.tdFeeContainer {
	padding: 5% 10%!important;
}

.hidden{
	display: none;
}

.tdPrice{
	width:25%;
}
.tdPriceData{
	width:75%;
}

.tableSpacer{
	margin-top: 5%;
}
/*
===============================
	END Surge Education
===============================
*/

/*
===============================
	One Sheet
===============================
*/
#surge-one-sheet-container {
	text-align: center;
	margin-top: 20px;
}
#surge-one-sheet-img {
	max-width: 100%;
}
/*
===============================
	End One Sheet
===============================
*/

/*
===============================
	Road Map
===============================
*/
#surge-roadmap-container {
	text-align: center;
	margin-top: 20px;
}
#surge-roadmap-img {
	max-width: 100%;
}
/*
===============================
	End Road Map
===============================
*/

/*
===============================
	@media queries
===============================
*/
@media screen and (max-width: 1600px) {
	.hiw{
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 1425px) {
	.intro {
		font-size: 2.8rem;
	}
}

@media screen and (max-width: 1399px) {
	.dApp {
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
	}
}

@media screen and (max-width: 1300px) {
	.intro {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 1140px) {
	.intro {
		font-size: 2rem;
	}
}

@media screen and (max-width: 1080px) {
	.nav-link {
		font-size: 1em;
	}

	.intro {
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 991px) {
	.heroH1 {
		font-size: 2.1rem;
	}
	.assetsLeftPanel {
		padding-right: 5%;
	}

	.assetsRightPanel {
		padding-left: 5%;
	}

	.certikAudtitBtn {
		font-size: .8rem;
	}
}

@media screen and (max-width: 837px) {
	/*Begin Main Page CSS */
	.vstatsButtons{
		margin-left: 10%;
	}

	.intro{
		font-size: 1.3rem;
	}

	.spacer {
		margin-top: 10%;
	}

	.hiw {
		font-size: 1.3rem;
	}

	.fees {
		font-size: 1.3rem;
	}

	.spacer2 {
		margin-top: 20%;
	}

	.spacervs {
		margin-top: 10%;
	}

	.tokenList {
		padding: 30px 20px 30px 20px;
		margin: 5% 5% 5% 5%;
	}

	.tokenLogo {
		width: 100%;
		padding-top: 5px;
	}

	.tokenName {
		font-size: .8em;
		padding-top: 23px !important;
		width: 13%;
	}

	.tName {
		margin-left: 5%;
	}

	.tokenAddress{
		padding-top: 23px !important;
		font-size: .8rem;
		width: 30%;
	}

	.tokenPrice{
		padding-top: 23px !important;
		font-size: .8rem;
		width: 15%;
	}
	/*End Main Page CSS*/

	/*Begin Education Page CSS*/
	.edTitle{
		margin-top: 5%;
	}
	/*End Education Page CSS*/
}

@media screen and (max-width: 767px) {
	/*Begin Main Page CSS*/
	.tokenCalc {
		padding-right: 5%
	}

	.intro {
		padding: 0;
		text-align: center;
		margin-top: 0;
	}

	.vstatsButtons{
		margin-left: 5%;
	}

	.hiw {
		font-size: 1rem;
	}

	.cta{
	  margin-top: -5%;
	  padding-left: 15%;
	  padding-right: 15%;
	}
  
	.fees{
		font-size: 1rem;
	}
  
	.feeBtns{
	  margin-top: 3%;
	}
  
	.dApp2 {
		font-size: .6rem !important;
	}

	.dApp3 {
	  text-decoration: none;
	  color: #29CBC1 !important;
	  font-weight: 800;
	  background: #0B3131 !important;
	  padding: 10px 20px !important;
	  border-radius: 30px;
	  box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
	  font-size: .6rem !important;
	}

	.certikAudtitBtn {
		font-size: .6rem;
	}

	.heroH1 {
	  font-size: 1.5rem;
	}

	.token{
	  border-radius: 25px;
	  margin-top: 25px;
	  margin-bottom: 25px;
	  background-color: rgb(10,47,48, 0.6) !important;
	  padding: 5px 15px 5px 15px !important;
	  font-size: 1rem;
	  
	}

	.heroImage {
		padding-right: 15%;
	}

	.tokenLogo{
	  width: 100%;
	  margin-top: 0;
	}
  
	.tokenImg{
	  width: 5%;
	}
  
	.tokenTable{
	  color: white;
	  margin-bottom: 0;
	}
  
	.tokenName{
	  font-size: .65em;
	  width: 15%;
	  padding-top: 22px !important;
	}
  
	.tName{
	  margin-left: 5%;
	}
  
	.tokenAddress{
	  padding-top: 22px !important;
	  font-size: .65rem;
	  text-align: end;
	  width: 37%;
	}
  
	.tokenPrice{
	  padding-top: 22px !important;
	  text-align: end;
	  font-size: .7rem;
	  width: 20%;
	}
	.tokenHolders{
	  padding-top: 14px !important;
	  text-align: end;
	  font-size: 1rem;
	  width: 13%;
	}
  
	.tokenList{
	  padding: 30px 20px 30px 20px;
	  margin: 5% 5% 5% 5%;
	}
  
	.btn{
	  padding: 0;
	}
  
	.tokenMeta{
	  width: 5%;
	}
	.imgMeta{
	  width: 25px;
	}
  
	.metaBtn{
	  border: none;
	  background: none;
	  padding-top: 8px;
	}
  
	.bscBtn{
	  border: none;
	  background: none;
	  padding-top: 8px;
	}
  
	.imgBSC{
	  width:25px
	}
  
	.tokenBSC{
	  width:2%
	}
  
	.tokenData{
	  padding: 10% 5% 5% 5%;
	}
  
	.dot{
	  width: 5%;
	  margin-top: -.5%;
	}
  
	.assetsRightPanel{
	  margin-top: 15px;
	} 
  
	.uncoloredTD{
	  padding-left: 5% !important;
	  padding-right: 5% !important;
	  margin-bottom: 2%;
	}
  
	.cValueSpacer{
	  margin-bottom: 5%;
	}
  
	.cValueTxt{
	  font-size: 1rem;
	  margin-left: 1%;
	}
	
	.uLabel{
	  text-align: center;
	  font-size: 1.5rem;
	}

	.tableSpacer{
	  margin-top: 5%;
	}
	/*End Main Page*/
  
	/**Begin Education Page CSS**/
	.edLogo{
	  text-align: center;
	  margin-top: 3%;
	  margin-bottom: 3%;
	}
	
	.edStep{
	  width: 50%;
	}
	
	.edImg{
	  width: 85%;
	}
	
	.edImg2{
	  width: 85%;
	}
	
	.edImg3{
	  width: 35%;
	}
	
	.edTitle{
	  text-align: center;
	  margin-top: 5%;
	  width: 50%;
	}
	
	.edText{
	  font-size: 1rem;
	  text-align: justify;
	}
	
	.edH4{
	  margin-top: 3%;
	}
	/**End Education Page CSS**/
}

@media screen and (max-width: 600px) {
	#footer_social_links_container {
		float: none;
	}

	#copyright_links {
		float: none;
		margin-top: 15px;
	}
}

@media screen and (max-width: 580px) {
	/*Begin Main Page CSS*/
	.shape{
		position: absolute;
		right: 0;
		width: 15%;
		margin-top: -15%;
	  }
	  .shape2{
		position: absolute;
		right: 100px;
		width: 15%;
		margin-top: -10%;
	  }
	
	  .tokenChart{
		margin-top: 5%;
		padding-left: 5%;
		padding-right: 1%
	  }
	  .tokenCalc{
		margin-top: 5%;
		padding-left: 1%;
		padding-right: 5%
	  }
	  .vstatsButtons{
		margin-top: 5%;
		margin-right: 15%;
		margin-left: 5%;
	  }
	
	  .tokenButton{
		font-size: 1rem;
		width: 140px;
		background-color: transparent !important;
		border-color: white;
		border-top: transparent !important;
		border-right: transparent !important;
		border-left: transparent !important;
	  }
	
	  .tokenLogo{
		width: 30%;
		margin-top: -5px;
	  }
	  .hiw{
		font-size: 1rem;
		font-weight: 800;
	  }
	
	  .atomImg{
		margin-top:5%;
	  }
	  .cta{
		margin-top: -5%;
		padding-left: 15%;
		padding-right: 15%;
	  }
	
	  .fees{
		font-size: 1rem;
		font-weight: 800;
	  }
	
	  .feeBtns{
		margin-top: 3%;
	  }
	
	  .dApp3 {
		text-decoration: none;
		color: #29CBC1 !important;
		font-weight: 800;
		background: #0B3131 !important;
		padding: 10px 20px !important;
		border-radius: 30px;
		box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
		font-size: .6rem !important;
	  }

	.certikAudtitBtn {
		padding: 5px 10px !important;
	}


		.heroH1 {
			font-size: 1.2rem;
		}

	  .token{
		border-radius: 25px;
		margin-top: 25px;
		margin-bottom: 25px;
		background-color: rgb(10,47,48, 0.6) !important;
		padding: 5px 15px 5px 15px !important;
		font-size: 1rem;
		
	  }
	
	  .tokenLogo{
		width: 100%;
		margin-top: 0;
	  }
	
	  .tokenImg{
		width: 5%;
	  }
	
	  .tokenTable{
		color: white;
		margin-bottom: 0;
	  }
	
	  .tokenName{
		font-size: .65em;
		width: 15%;
		padding-top: 22px !important;
	  }
	
	  .tName{
		margin-left: 5%;
	  }
	
	  .tokenAddress{
		padding-top: 22px !important;
		font-size: .65rem;
		text-align: end;
		width: 37%;
	  }
	
	  .tokenPrice{
		padding-top: 22px !important;
		text-align: end;
		font-size: .7rem;
		width: 20%;
	  }
	  .tokenHolders{
		padding-top: 14px !important;
		text-align: end;
		font-size: 1rem;
		width: 13%;
	  }
	
	  .tokenList{
		padding: 30px 20px 30px 20px;
		margin: 5% 5% 5% 5%;
	  }

	.tdFeeLabel,
	.tdFeeData {
		font-size: .75em;
	}

	.cAddressData{ 
		width: 80%;
	}
	
	  .btn{
		padding: 0;
	  }
	
	  .tokenMeta{
		width: 5%;
	  }
	  .imgMeta{
		width: 25px;
	  }
	
	  .metaBtn{
		border: none;
		background: none;
		padding-top: 8px;
	  }
	
	  .bscBtn{
		border: none;
		background: none;
		padding-top: 8px;
	  }
	
	  .imgBSC{
		width:25px
	  }
	
	  .tokenBSC{
		width:2%
	  }
	
	  .tokenData{
		padding: 10% 5% 5% 5%;
	  }
	
	  .dot{
		width: 5%;
		margin-top: -.5%;
	  }
	
	  .uncoloredTD{
		padding-left: 5% !important;
		padding-right: 5% !important;
		margin-bottom: 2%;
	  }
	
	  .cValueSpacer{
		margin-bottom: 5%;
	  }
	
	  .cValueTxt{
		font-size: 1rem;
		margin-left: 1%;
	  }
	  
	  .uLabel{
		text-align: center;
		font-size: 1.5rem;
	  }
	
	  .tableSpacer{
		margin-top: 5%;
	  }
	  /*End Main Page*/
	
	  /**Begin Education Page CSS**/
	  .edLogo{
		text-align: center;
		margin-top: 3%;
		margin-bottom: 3%;
	  }
	  
	  .edStep{
		width: 50%;
	  }
	  
	  .edImg{
		text-align: center;
		margin-top: 3%;
		margin-bottom: 3%;
	  }
	  
	  .edImg2{
		width: 85%;
	  }
	  
	  .edImg3{
		width: 35%;
	  }
	  
	  .edTitle{
		text-align: center;
		margin-top: 5%;
		width: 50%;
	  }
	  
	  .edText{
		font-size: 1rem;
		text-align: justify;
	  }
	  
	  .edH4{
		margin-top: 3%;
	  }
	/**End Education Page CSS**/
}

@media screen and (max-width: 400px) {
  /*Begin Main Page CSS*/
  .shape{
	position: absolute;
	right: 0;
	width: 15%;
  }
  .shape2{
	position: absolute;
	right: 100px;
	width: 15%;
	margin-top: -10%;
  }

  .heroImage{
	margin-top: 10px;
  }

  .tokenChart{
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%
  }
  .tokenCalc{
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%
  }
  .vstatsButtons{
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 5%;
  }

  .tokenName{
	font-size: 1em;
	margin-left: -6px;
  }

  .tokenButton{
	font-size: .6rem;
	width: 75px;
	background-color: transparent !important;
	border-color: white;
	border-top: transparent !important;
	border-right: transparent !important;
	border-left: transparent !important;
	padding: 0px !important;
  }

  .logoNav1{
	width: 150px !important;
	margin-left: 5%;
  }

  .tokenLogo{
	width: 30%;
	margin-top: -3px;
  }

  .hiw{
	font-size: 1rem;
	font-weight: 800;
	padding-left: 5%;
	padding-right: 5%;
  }

  .atomImg{
	margin-top:5%;
	width: 90%;
  }
  .cta{
	margin-top: -5%;
	padding-left: 5%;
	padding-right: 5%;
	height: 155%
  }

  .fees{
	font-size: 0.9rem;
	font-weight: 800;
  }

  .feeBtns{
	margin-top: 2%;
  }

  .dApp3 {
	text-decoration: none;
	color: #29CBC1 !important;
	font-weight: 800;
	background: #0B3131 !important;
	padding: 10px 20px !important;
	border-radius: 30px;
	box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
	font-size: .6rem !important;
  }

  .heroH1 {
	font-size: 1rem;
}

.tokenList2{
	padding: 30px 0px;
}

  .tdLabel,
  .tdData {
	  font-size: .75em;
  }


  /*End Main Page CSS*/

  /**Begin Education Page CSS**/
  .edLogo{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
  }
  
  .edStep{
	width: 50%;
  }
  
  .edImg{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
  }
  
  .edImg2{
	width: 85%;
  }
  
  .edImg3{
	width: 35%;
  }

  .edImg4{
	width: 50%;
  }
  
  .edTitle{
	text-align: center;
	margin-top: 5%;
	width: 85%;
  }

  .edText{
	font-size: 1rem;
	text-align: justify;
  }
  
  .edH4{
	margin-top: 3%;
  }
/**End Education Page CSS**/

}

@media screen and (max-width: 320px) {
	.shape{
	  position: absolute;
	  right: 0;
	  width: 15%;
	}
	.shape2{
	  position: absolute;
	  right: 100px;
	  width: 15%;
	  margin-top: -10%;
	}
	.btnDApp{
	  border: transparent;
	}
	.tokenChart{
	  margin-top: 5%;
	  padding-left: 5%;
	  padding-right: 5%
	}
	.tokenCalc{
	  margin-top: 5%;
	  padding-left: 5%;
	  padding-right: 5%
	}
	.vstatsButtons{
	  margin-top: 5%;
	  margin-right: 15%;
	  margin-left: 5%;
	}
	.tokenName{
	  font-size: 1em;
	  margin-left: -6px;
	}
	.tokenButton{
	  font-size: .6rem;
	  width: 68px;
	  background-color: transparent !important;
	  border-color: white;
	  border-top: transparent !important;
	  border-right: transparent !important;
	  border-left: transparent !important;
	  padding: 0px !important;
	}
	.logoNav1{
	  width: 150px !important;
	  margin-left: 5%;
	}
	.tokenLogo{
	  width: 30%;
	  margin-top: -3px;
	}
	.hiw{
	  font-size: 1rem;
	  font-weight: 800;
	  padding-left: 5%;
	  padding-right: 5%;
	}
	.atomImg{
	  margin-top:5%;
	  width: 90%;
	}
	.cta{
	  margin-top: -5%;
	  padding-left: 5%;
	  padding-right: 5%;
	  height: 155%
	}
	.fees{
	  font-size: 0.7rem;
	  font-weight: 800;
	}
	.feeBtns{
	  margin-top: 2%;
	}

	.dApp3 {
	  text-decoration: none;
	  color: #29CBC1 !important;
	  font-weight: 800;
	  background: #0B3131 !important;
	  padding: 7px 10px !important;
	  border-radius: 30px;
	  box-shadow: rgba(0, 195, 255, 0.16) 0px 0px 20px 0px;
	  font-size: .6rem !important;
	}
  
	/**Begin Education Page CSS**/
	.edLogo{
	  text-align: center;
	  margin-top: 3%;
	  margin-bottom: 3%;
	}
	
	.edStep{
	  width: 50%;
	}
	
	.edImg{
	  text-align: center;
	  margin-top: 3%;
	  margin-bottom: 3%;
	}
	
	.edImg2{
	  width: 85%;
	}
	
	.edImg3{
	  width: 35%;
	}
  
	.edImg4{
	  width: 50%;
	}
	
	.edTitle{
	  text-align: center;
	  margin-top: 5%;
	  width: 85%;
	}
  
	.edText{
	  font-size: 1rem;
	  text-align: justify;
	}
	
	.edH4{
	  margin-top: 3%;
	}
  /**End Education Page CSS**/
  }

/*
===============================
	@Import	Function - test3
===============================
*/

/*
===============================
	@Import	Mixins
===============================
*/

/* 
=====================
	Coming Soon CSS
=====================
*/
.ethsurge{
	margin-left: -20px;
}

.coming-soon-container {
	display: flex; 
}

.coming-soon-cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.coming-soon-cont .coming-soon-content > h4 {
	font-size: 40px;
	margin-top: 30px;
	font-weight: 700;
	color: #2fb3ab;
	margin-bottom: 10px;
	text-shadow: 0px 5px 4px rgba(31, 45, 61, 0.101961); 
}

.coming-soon-cont .coming-soon-content > h5 {
	font-size: 20px;
	margin-top: 30px;
	font-weight: 700;
	color: #2fb3ab;
	margin-bottom: 0;
	text-shadow: 0px 5px 4px rgba(31, 45, 61, 0.101961); 
}
	
.coming-soon-cont .coming-soon-content > p:not(.terms-conditions) {
	font-size: 16px;
	color: #888ea8;
	font-weight: 700;
	margin-bottom: 50px; 
}

.coming-soon-cont #timer {
	display: flex; 
}

.coming-soon-cont #timer .days, .coming-soon-cont #timer .hours, .coming-soon-cont #timer .min {
	padding: 28px 0;
	background: #009688;
	color: #fff;
	border-radius: 4px;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	height: 95px;
	width: 95px;
	margin-right: 15px; 
}

.coming-soon-cont #timer .sec {
	padding: 28px 0;
	background: #009688;
	color: #fff;
	border-radius: 4px;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	height: 95px;
	width: 95px;
	margin-right: 15px;
	margin-right: 0; 
}

.coming-soon-cont #timer .days .count, .coming-soon-cont #timer .days .text {
	display: block; 
}

.coming-soon-cont #timer .hours .count, .coming-soon-cont #timer .hours .text {
	display: block; 
}

.coming-soon-cont #timer .min .count, .coming-soon-cont #timer .min .text {
	display: block; 
}

.coming-soon-cont #timer .sec .count, .coming-soon-cont #timer .sec .text {
	display: block; 
}

.coming-soon-cont .coming-soon-content > h3 {
	font-size: 21px;
	font-weight: 700;
	margin-top: 75px;
	margin-bottom: 40px;
	color: #2fb3ab; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper {
	position: relative;
	display: flex;
	width: 100%; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper svg {
	position: absolute;
	top: 11px;
	color: #009688;
	fill: rgba(0, 150, 136, 0.09);
	left: 8px; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper input {
	padding: 10px 97px 10px 45px; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper input::-webkit-input-placeholder, .coming-soon-cont .coming-soon-wrap form .field-wrapper input::-ms-input-placeholder, .coming-soon-cont .coming-soon-wrap form .field-wrapper input::-moz-placeholder {
	color: #d3d3d3;
	font-size: 14px; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper button.btn {
	align-self: center;
	position: absolute;
	right: 0;
	padding: 10px 17px;
	border-bottom-left-radius: 20px;
	background: #009688;
	border-color: #009688; 
}

.coming-soon-cont .coming-soon-wrap form .field-wrapper button.btn:hover {
	transform: none; 
}

.coming-soon-cont .social {
	/* text-align: center; */
	color: #009688;
	margin: 45px 0 0 0; 
}

.coming-soon-cont .social li {
	margin: 0; 
}

.coming-soon-cont .social li:not(:last-child) {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 2px solid #3b3f5c; 
}

.coming-soon-cont .social svg {
	color: #009688;
	width: 35px;
	height: 35px; 
}

.coming-soon-cont .terms-conditions {
	max-width: 480px;
	margin: 0 auto;
	color: #bfc9d4;
	font-weight: 600;
	margin-top: 70px; 
}

.coming-soon-cont .terms-conditions a {
	color: #009688;
	font-weight: 700; 
}

.coming-soon-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  right: 0;
  min-height: auto;
  height: 100vh;
  width: 50%; 
}

.coming-soon-image .img-overlay-content {
	height: 100%;
	background: rgba(0, 0, 0, 0.55); 
}

.coming-soon-image .img-overlay-content p {
	color: #fff;
	position: absolute; 
}

.coming-soon-image .l-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(-45deg,#060818,#2fb3ab, #0e1726, #0e1726);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.coming-soon-image .l-image .img-content {
	display: flex;
	justify-content: center;
	height: 100%; 
}

.coming-soon-image .l-image img {
	width: 577px;
	align-self: center; 
}

.coming-soon-image2 .l-image .img-content {
	display: none; 
}
  
@media only screen and (max-width: 991px) {
	.coming-soon-cont {
		width: 100%;
	}

	.coming-soon-cont .coming-soon-wrap {
		min-width: auto; 
	}

	.coming-soon-image {
		display: none;
		justify-content: center;
		height: 100%; } 
	}

@media only screen and (max-width: 575px) {
	.coming-soon-cont #timer {
		display: flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		justify-content: center; 
	}
	
	.coming-soon-cont #timer .hours:not(:last-child) {
		margin-right: 0; 
	}
	
	.coming-soon-cont #timer .days, .coming-soon-cont #timer .hours, .coming-soon-cont #timer .min, .coming-soon-cont #timer .sec {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
		margin-bottom: 15px;
		margin-bottom: 15px;
		padding: 14px 0;
		height: 71px; 
	} 
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.coming-soon-cont .coming-soon-wrap {
		width: 100%; 
	}
	.coming-soon-cont .coming-soon-container {
		height: 100%; 
	} 
}
/* 
=====================
	END Coming Soon CSS
=====================
*/
